doctype html
html
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="stylesheet" href="static/css/common.css")
        block style
            link(rel="stylesheet" href="static/css/index.css")
    body
        block content
        include footer